# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Csv files
*.csv

# Distribution / packaging
.Python
dev/
data/

# Vscode
.vscode

# IDE
.idea/

# Context related files
.context/
.cursorrules
context.yaml
