# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Csv files
*.csv

# Distribution / packaging
.Python
dev/
data/

# Vscode
.vscode

# IDE and configuration files
.context/
.cursorrules
.idea/
context.yaml

# API credentials
data/userdata.csv
